holiday.es-BO0.name=Año Nuevo
holiday.es-BO0.date=20200101
holiday.es-BO1.name=Día de los Reyes Magos
holiday.es-BO1.date=20200106
holiday.es-BO2.name=Fundación del Estado Plurinacional
holiday.es-BO2.date=20200122
holiday.es-BO3.name=Fiesta de la Candelaria
holiday.es-BO3.date=20200202
holiday.es-BO4.name=Lunes de Carnaval
holiday.es-BO4.date=20200224
holiday.es-BO5.name=Martes de Carnaval
holiday.es-BO5.date=20200225
holiday.es-BO6.name=Día del Padre
holiday.es-BO6.date=20200319
holiday.es-BO7.name=Día de la Reinvindicación Marítima
holiday.es-BO7.date=20200323
holiday.es-BO8.name=Jueves Santo
holiday.es-BO8.date=20200409
holiday.es-BO9.name=Viernes Santo
holiday.es-BO9.date=20200410
holiday.es-BO10.name=Día del Niño
holiday.es-BO10.date=20200412
holiday.es-BO11.name=Día del Trabajo
holiday.es-BO11.date=20200501
holiday.es-BO12.name=Día de la Madre
holiday.es-BO12.date=20200527
holiday.es-BO13.name=Corpus Christi
holiday.es-BO13.date=20200611
holiday.es-BO14.name=Año Nuevo Aymara
holiday.es-BO14.date=20200621
holiday.es-BO15.name=descanso laboral correspondiente a Año Nuevo Aymara
holiday.es-BO15.date=20200622
holiday.es-BO16.name=Día de la Independencia
holiday.es-BO16.date=20200806
holiday.es-BO17.name=Día de la Bandera
holiday.es-BO17.date=20200817
holiday.es-BO18.name=Día de la Resistencia Indígena
holiday.es-BO18.date=20201012
holiday.es-BO19.name=Día de la Dignidad Nacional
holiday.es-BO19.date=20201017
holiday.es-BO20.name=Día de Todos los Santos
holiday.es-BO20.date=20201102
holiday.es-BO21.name=Navidad
holiday.es-BO21.date=20201225
holiday.es-BO22.name=Año Nuevo
holiday.es-BO22.date=20210101
holiday.es-BO23.name=Día de los Reyes Magos
holiday.es-BO23.date=20210106
holiday.es-BO24.name=Fundación del Estado Plurinacional
holiday.es-BO24.date=20210122
holiday.es-BO25.name=Fiesta de la Candelaria
holiday.es-BO25.date=20210202
holiday.es-BO26.name=Lunes de Carnaval
holiday.es-BO26.date=20210215
holiday.es-BO27.name=Martes de Carnaval
holiday.es-BO27.date=20210216
holiday.es-BO28.name=Día del Padre
holiday.es-BO28.date=20210319
holiday.es-BO29.name=Día de la Reinvindicación Marítima
holiday.es-BO29.date=20210323
holiday.es-BO30.name=Jueves Santo
holiday.es-BO30.date=20210401
holiday.es-BO31.name=Viernes Santo
holiday.es-BO31.date=20210402
holiday.es-BO32.name=Día del Niño
holiday.es-BO32.date=20210412
holiday.es-BO33.name=Día del Trabajo
holiday.es-BO33.date=20210501
holiday.es-BO34.name=Día de la Madre
holiday.es-BO34.date=20210527
holiday.es-BO35.name=Corpus Christi
holiday.es-BO35.date=20210603
holiday.es-BO36.name=Año Nuevo Aymara
holiday.es-BO36.date=20210621
holiday.es-BO37.name=Día de la Independencia
holiday.es-BO37.date=20210806
holiday.es-BO38.name=Día de la Bandera
holiday.es-BO38.date=20210817
holiday.es-BO39.name=Día de la Resistencia Indígena
holiday.es-BO39.date=20211012
holiday.es-BO40.name=Día de la Dignidad Nacional
holiday.es-BO40.date=20211017
holiday.es-BO41.name=Día de Todos los Santos
holiday.es-BO41.date=20211102
holiday.es-BO42.name=Navidad
holiday.es-BO42.date=20211225
holiday.es-BO43.name=Año Nuevo
holiday.es-BO43.date=20220101
holiday.es-BO44.name=Día de los Reyes Magos
holiday.es-BO44.date=20220106
holiday.es-BO45.name=Fundación del Estado Plurinacional
holiday.es-BO45.date=20220122
holiday.es-BO46.name=Fiesta de la Candelaria
holiday.es-BO46.date=20220202
holiday.es-BO47.name=Lunes de Carnaval
holiday.es-BO47.date=20220228
holiday.es-BO48.name=Martes de Carnaval
holiday.es-BO48.date=20220301
holiday.es-BO49.name=Día del Padre
holiday.es-BO49.date=20220319
holiday.es-BO50.name=Día de la Reinvindicación Marítima
holiday.es-BO50.date=20220323
holiday.es-BO51.name=Día del Niño
holiday.es-BO51.date=20220412
holiday.es-BO52.name=Jueves Santo
holiday.es-BO52.date=20220414
holiday.es-BO53.name=Viernes Santo
holiday.es-BO53.date=20220415
holiday.es-BO54.name=Día del Trabajo
holiday.es-BO54.date=20220501
holiday.es-BO55.name=descanso laboral correspondiente a Día del Trabajo
holiday.es-BO55.date=20220502
holiday.es-BO56.name=Día de la Madre
holiday.es-BO56.date=20220527
holiday.es-BO57.name=Corpus Christi
holiday.es-BO57.date=20220616
holiday.es-BO58.name=Año Nuevo Aymara
holiday.es-BO58.date=20220621
holiday.es-BO59.name=Día de la Independencia
holiday.es-BO59.date=20220806
holiday.es-BO60.name=Día de la Bandera
holiday.es-BO60.date=20220817
holiday.es-BO61.name=Día de la Resistencia Indígena
holiday.es-BO61.date=20221012
holiday.es-BO62.name=Día de la Dignidad Nacional
holiday.es-BO62.date=20221017
holiday.es-BO63.name=Día de Todos los Santos
holiday.es-BO63.date=20221102
holiday.es-BO64.name=Navidad
holiday.es-BO64.date=20221225
holiday.es-BO65.name=descanso laboral correspondiente a Navidad
holiday.es-BO65.date=20221226
